- title "Sign in"
#principal
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :login
      = f.text_field :login, autofocus: true
    .field
      = f.label :password
      = f.password_field :password, autocomplete: "off"
    .remember-me-field
      = f.check_box :remember_me
      = f.label :remember_me
    .submit-field
      = f.submit "Log in"
.navigation= link_to "Forgot your password?", new_password_path(resource_name)
.navigation= link_to "← Back to thoughts", root_url
