!!! 5
%html
  %head
    %title Thoughts
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body#main-body
    - if flash[:alert]
      %div#flash.flash-alert= flash[:alert]
    - if flash[:notice]
      %div#flash.flash-notice= flash[:notice]
    #container
      #banner
        %h1= link_to "Thoughts", root_url
      #main
        #content= yield
        #sidebar
          .sidebar-module
            %h2 I'm Fef.
            %p I'm a computer science undergrad at Carnegie Mellon University. I make a lot of things, including Twitter bots. I really like Pokémon, and I write about it a lot.
          .sidebar-module
            %h2 Meta
            %ul
              - if not user_signed_in?
                %li= link_to "Log in", new_user_session_path
              - if user_signed_in?
                %li= link_to "Log out", destroy_user_session_path, method: :delete
