!!! 5
%html
  %head
    %title Thoughts
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #container
      #banner
        %h1= link_to "Thoughts", root_url
      #main
        #content= yield
        #sidebar I'm Fef.
