!!! 5
%html
  %head
    %title Thoughts
    = csrf_meta_tags
    = stylesheet_link_tag    'userdata', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #container
      - if flash[:alert]
        #flash.flash-alert
          %span.flash-tag ERROR:
          = flash.alert
      - if flash[:notice]
        #flash.flash-notice
          %span.flash-tag NOTICE:
          = flash.notice
      = yield
